<p id="notice"><%= notice %></p>
<p>
  <strong>Message id:</strong>
  <%= @message.id %>
</p>
<p>
  <strong>User message:</strong>
  <%= @message.user_message %>
</p>

<p>
  <strong>Transform pattern:</strong>
  <%= @message.transform_pattern %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
