<%= form_for(@message_option) do |f| %>
  <% if @message_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_option.errors.count, "error") %> prohibited this message_option from being saved:</h2>

      <ul>
      <% @message_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message_id %><br>
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :options_id %><br>
    <%= f.text_area :options_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
